<a href="https://colab.research.google.com/github/ferbits/Laboratorio9/blob/main/Laboratorio_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SESION 9-MIO

Se tiene un conjunto de datos sobre empleados y se pide
1.  Identificar y contar los valores faltantes en cada columna.
2.  Verificar el formato de la columna 'Salario' para asegurar que todos los valores sean numéricos.
3.  Validar y estandarizar el formato de la columna 'Fecha Ingreso' a YYYY-MM-DD.

In [ ]:
import pandas as pd
data={
'Nombre':['Juan','Ana','Pedro','María','Luis','Ana'],
'Edad':[28, 34, None, 45, 38, 34],
'Salario':[3000, 4000, 'cinco mil', 4500, 4000, 5000],
'Fecha Ingreso':['2021-01-15','2020/03/12','2022-07-01','2021/12/01','2021-05-20','12/03/2020']}
df=pd.DataFrame(data)
# Paso 1: Identificar y contar los valores faltantes en cada columna
valores_faltantes = df.isnull().sum()
valores_faltantes

Nombre           0
Edad             1
Salario          0
Fecha Ingreso    0
dtype: int64

Verificar el formato de la columna 'Salario' para asegurar que todos los valores sean numéricos.

In [ ]:
import pandas as pd
data={
'Nombre':['Juan','Ana','Pedro','María','Luis','Ana'],
'Edad':[28, 34, None, 45, 38, 34],
'Salario':[3000, 4000, 'cinco mil', 4500, 4000, 5000],
'Fecha Ingreso':['2021-01-15','2020/03/12','2022-07-01','2021/12/01','2021-05-20','12/03/2020']}
df=pd.DataFrame(data)
# Paso 2: Convertir 'Sueldo' a numérico, reemplazando valores no numéricos con NaN
df['Salario'] = pd.to_numeric(df['Salario'], errors='coerce')
print("\nSueldos después de la conversión:")
print(df['Salario'])

Sueldos después de la conversión:
0    3000.0
1    4000.0
2       NaN
3    4500.0
4    4000.0
5    5000.0
Name: Salario, dtype: float64

Validar y estandarizar el formato de la columna 'Fecha Ingreso' a YYY-MM-DD.

In [ ]:
#CÓDIGO PARA VISUALIZAR EL FORMATO DE LA FECHA DE LA COLUMNA FECHA INGRESO
df['Fecha Ingreso']

0    2021-01-15
1    2020/03/12
2    2022-07-01
3    2021/12/01
4    2021-05-20
5    12/03/2020
Name: Fecha Ingreso, dtype: object

In [ ]:

import pandas as pd
#Importamos la clase parser del modulo dateutil
from dateutil import parser
data={
'Nombre':['Juan','Ana','Pedro','María','Luis','Ana'],
'Edad':[28, 34, None, 45, 38, 34],
'Salario':[3000, 4000, 'cinco mil', 4500, 4000, 5000],
'Fecha Ingreso':['2021-01-15','2020/03/12','2022-07-01','2021/12/01','2021-05-20','12/03/2020']}
df=pd.DataFrame(data)

# Función para convertir fechas a formato YYYY-MM-DD
def convertir_fecha(fecha):
    try:
        # Intentamos parsear la fecha y luego aplicamos el formato correcto
        fecha_convertida = parser.parse(fecha)
        return fecha_convertida.strftime('%Y-%m-%d')
    except (parser.ParserError, TypeError, ValueError):
        return None
df['Fecha Ingreso'] = df['Fecha Ingreso'].apply(convertir_fecha)
df['Fecha Ingreso']

0    2021-01-15
1    2020-03-12
2    2022-07-01
3    2021-12-01
4    2021-05-20
5    2020-12-03
Name: Fecha Ingreso, dtype: object

Se requiere:
1.  Identificar y contar los valores faltantes en cada columna.
2.  Verificar el  formato de  la  columna  "Salario"  para  asegurarse  de  que todos  los valores sean numéricos.
3.  Validar y estandarizar el formato de la columna "Fecha Ingreso" a YYYY-MM-DD.
4.  Verificar que no haya valores faltantes en la columna "Cargo".

Identificar y contar los valores faltantes en cada columna.

In [ ]:
#Identificar y contar los valores faltantes en cada columna.
import pandas as pd
data={
'Nombre':['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'Carla'],
'Edad': [28, None, 40, 45, 38, 34],
'Salario': [3000, 4000, 4500, 'cuatro mil', 5000, 4000],
'Cargo': ['Analista', 'Gerente', 'Desarrollador', 'Gerente', 'Analista', None ],
'Fecha Ingreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', None, '2020-03-12']}
df=pd.DataFrame(data)
# Paso 1: Identificar y contar los valores faltantes en cada columna
valores_faltantes = df.isnull().sum()
print("Valores faltantes por columna:")
print(valores_faltantes)

Valores faltantes por columna:
Nombre           0
Edad             1
Salario          0
Cargo            1
Fecha Ingreso    1
dtype: int64

Verificar el formato de la columna "Salario" para asegurarse de que todos los valores sean numéricos.

In [ ]:
#Identificar y contar los valores faltantes en cada columna.
import pandas as pd
data={'Nombre':['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'Carla'],
'Edad': [28, None, 40, 45, 38, 34],
'Salario': [3000, 4000, 4500, 'cuatro mil', 5000, 4000],
'Cargo': ['Analista', 'Gerente', 'Desarrollador', 'Gerente', 'Analista', None ],
'Fecha Ingreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', None, '2020-03-12']}
df=pd.DataFrame(data)
df=pd.DataFrame(data)
# Paso 2: Convertir 'Sueldo' a numérico, reemplazando valores no numéricos con NaN
df['Salario'] = pd.to_numeric(df['Salario'], errors='coerce')
print("\nSueldos después de la conversión:")
print(df['Salario'])

Sueldos después de la conversión:
0    3000.0
1    4000.0
2    4500.0
3       NaN
4    5000.0
5    4000.0
Name: Salario, dtype: float64

Validar y estandarizar el formato de la columna "Fecha Ingreso" a YYYY-MM-DD.

In [ ]:
import pandas as pd
#Importamos la clase parser del modulo dateutil
from dateutil import parser
data={
'Nombre': ['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'Carla'],
'Edad': [28, None, 40, 45, 38, 34],
'Salario':[3000, 4000, 4500, 'cuatro mil', 5000, 4000],
'Cargo':['Analista', 'Gerente', 'Desarrollador', 'Gerente', 'Analista', None ],
'Fecha Ingreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', None, '2020-03-12']}
df=pd.DataFrame(data)

# Función para convertir fechas a formato YYYY-MM-DD
def convertir_fecha(fecha):
    try:
        # Intentamos parsear la fecha y luego aplicamos el formato correcto
        fecha_convertida = parser.parse(fecha)
        return fecha_convertida.strftime('%Y-%m-%d')
    except (parser.ParserError, TypeError, ValueError):
        return None
df['Fecha Ingreso'] = df['Fecha Ingreso'].apply(convertir_fecha)
df['Fecha Ingreso']

0    2021-01-15
1    2020-03-12
2    2022-07-01
3    2021-12-01
4          None
5    2020-03-12
Name: Fecha Ingreso, dtype: object

Verificar que no haya valores faltantes en la columna "Cargo".

In [ ]:
import pandas as pd
#Importamos la clase parser del modulo dateutil
data={
'Nombre': ['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'Carla'],
'Edad': [28, None, 40, 45, 38, 34],
'Salario':[3000, 4000, 4500, 'cuatro mil', 5000, 4000],
'Cargo':['Analista', 'Gerente', 'Desarrollador', 'Gerente', 'Analista', None ],
'Fecha Ingreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', None, '2020-03-12']}
df=pd.DataFrame(data)
# Paso 4: Verificar que no haya valores faltantes en la columna 'Cargo'
valores_faltantes_cargo = df['Cargo'].isnull().sum()
print("\nValores faltantes en la columna 'Cargo':")
print(valores_faltantes_cargo)

Valores faltantes en la columna 'Cargo':
1

#PARTE 2 DEL LABORATORIO 9

Se tiene una lista de productos con los respectivos precios y se necesita validar que ningún precio sea negativo o nulo.

1.  Crear un DataFrame con productos y precios.
2.  Producto: Producto A, Producto B,Producto C,Producto D.
3.  Precio:150, -25, 100, None.  
4.  Validar que todos los precios sean mayores o iguales a cero y no nulos.
5.  Mostrar los productos con precios inválidos.

*Validar que todos los precios sean mayores o iguales a cero y no nulos.
*Mostrar los productos con precios inválidos.

In [ ]:
#Construcción del DataFrame con los productos.
import pandas as pd
data={'Producto':['Producto A', 'Producto B','Producto C','Producto D'],
      'Precio':[150, -25, 100, None]}
df=pd.DataFrame(data)
precios_incorrectos = df[(df['Precio'].isnull()) | (df['Precio'] < 0)]
print("\nPrecios incorrectos:")
print(precios_incorrectos)

Precios incorrectos:
     Producto  Precio
1  Producto B   -25.0
3  Producto D     NaN

Crear un DataFrame con información de clientes.
Verificar si hay duplicados en la columna de ID del cliente.
Mostrar los registros duplicados.

In [ ]:
#Construcción del DataFrame Clientes y visualización de valores duplicados.
import pandas as pd
data={
'ID_Cliente':[1, 2, 3, 2, 4],
'Nombre':['Ana', 'Luis', 'María', 'Luis', 'Carlos']}
df=pd.DataFrame(data)
duplicados_id = df[df.duplicated('ID_Cliente')]
#duplicados_nom = df[df.duplicated('Nombre')]
print(duplicados_id)
#print(duplicados_nom)

   ID_Cliente Nombre
3           2   Luis

Crear una cadena con datos sensibles (un número de tarjeta 1234-5678-9101-1121).
Encriptar esos datos utilizando una clave generada.
Desencriptar los datos y mostrar ambos (encriptado y desencriptado).

In [ ]:
#Crear una cadena con datos sensibles (un número de tarjeta 1234-5678-9101-1121).
#Encriptar esos datos utilizando una clave generada.
from cryptography.fernet import Fernet
mi_llave = Fernet.generate_key()
cipher_suite = Fernet(mi_llave)

datos_sensibles = "1234-5678-9101-1121".encode()
datos_encriptados = cipher_suite.encrypt(datos_sensibles)
datos_desencriptados = cipher_suite.decrypt(datos_encriptados)

print("Datos Encriptados:", datos_encriptados)
print("Datos Desencriptados:",
datos_desencriptados.decode())

Datos Encriptados: b'gAAAAABnNXk0lsiWyZRzkzf7DwZ5YKCynwWEW_V2CIgiFCKDn6biAQfdYULukCZw2FPk8ZLDFKNl0gBTw8D6u_aHzyRjfAYc65NteEjPciAZa1-fatkkrO4='
Datos Desencriptados: 1234-5678-9101-1121